<%= form_for(:cashier, url: cashier_session_path) do |f| %>
<div class="login_div text-center">
<div class="card">
	  <%= image_tag("login", class: "card-img-top", style: "height: 5%") %>
	  <div class="card-block">
        <% if @display == nil %> 
          <% @display = true %> 
          <h2 class="card-title">Cashier Log in</h2>
        <% else %>
          <h2 class="card-title">Log in as <%= @check.name %></h2>
        <% end %>
        <% if @display==true %>
  	      <p class="card-text">  
  	        <%= f.email_field :email, autofocus: true, placeholder:"email" %> 
  	        <br>
  	        <%= f.password_field :password, autocomplete: "off", placeholder:"password" %>
  	      </p>
  	   <% else %>
  	   <p class="card-text">
  	     <%= f.password_field :password, autocomplete: "off", placeholder:"password" %>
  	     <%= f.hidden_field :email, autofocus: true, :value => @item %>
  	   <% end %>
  	   </p>
	  </div>
	  <div class="card-block">
	    <div class="actions">
    <%= f.submit "Log in" %>
  </div>
	    <br>
	    <hr>
	    <%= link_to 'Login with email', new_cashier_session_path %>
	    
	  </div>
	</div>
</div>
</div>
<% end %>
