	<%= form_for :query, url: verify_path do |f| %>
<div class="login_div text-center">
<div class="card">

	  <%= image_tag("login", class: "card-img-top", style: "height: 5%") %>
	  <div class="card-block">
	    <h3 class="card-title">Cashier Login</h3>
	    <p class="card-text"><%= f.text_field :name, placeholder: "Enter username"%></p>
	  </div>
	  <div class="card-block">
	    <%= f.submit 'Proceed' %>
	    <br>
	    <hr>
	    <%= link_to 'Login with email', new_cashier_session_path %>
	    
	  </div>
	</div>
</div>
</div>
<% end %>