
<div class="homepage text-center">
    <h2 class="">The minimalist approach to maximizing profit.</h2>
    <h5><%= link_to('Cashiers', checkpoint_path)  %> | <%= link_to('Administrators', new_admin_session_path)  %></h5>
    <%= image_tag("boxes", style: "height: 5%", :size => '186x1000') %>

</div>