<tr class='nested-fields'>
    <td class="field">
      <% options = options_from_collection_for_select(@items, "id", "name") %>
      <%= f.select :product,  options %>
    </td>
    <td class="field">
      <%= f.text_field :quantity %>
    </td>
    <td>
    <%= link_to_remove_association "<button type=\"button\" class=\"btn btn-outline-danger\">Remove Line</button>".html_safe, f %>
    </td>
 </tr>