<div class="container">
    <% @freq = Array.new(@all_product.count + 1, 0) %>
    <% @all_lines.each do |f| %>
         <% @freq[f.product_id] += f.quantity %>
    <% end %>
    <h2> Sold by <%= @Cashier.name %> </h2>
    As of <%= Date.today.to_s %>
    <table class= "table">
        <thead>
            <tr>
                <th> Product </th>
                <th>  # Sold Today </th>
            </tr>
        </thead>
        <tbody>
        <% @i = 0 %>
        <% @freq.each do |g| %>
            <% if g == 0 %>
                <% @i = @i.next %>
            <% else %>
                <tr>
                    <td> <%= @all_product[@i - 1].name %> </td>
                    <td> <%= @freq[@i] %> </td>
                </tr>   
                <% @i = @i.next %>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>