<div class="container">
    <h3>All Orders</h3>
<table class="table">
    <thead>
        <tr>
            <td> Order ID</td>
            <td> Cash Paid</td>
            <td> Total Price</td>
            <td> Cashier Price</td>
            <td> Breakdown </td>
        </tr>
    </thead>
    <tbody>
        <% @all_orders.each do |f| %>
            <tr>
                <td><%= f.id %></td>
                <td><%= f.cash %></td>
                <td><%= f.total_price %></td>
                <td><%= f.cashier_id %></td>
                <td>
                    <ul>
                    <% @all_lines.each do |g| %>
                        <% if f.id == g.order_id %>
                            <li>Product: <%= g.product.name %>(<%= g.quantity %>)</li>
                        <% end %>
                    <% end %>
                    </ul>
                </td>
                <td> <%= link_to "<button type=\"button\" class=\"btn btn-secondary\">View</button>".html_safe, order_path(f) %> </td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>