<div class="container">
  <%= form_for @order, url: orders_summary_path do |f| %>
    <h3>Orders</h3>
    <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th> </th>
      </tr>
    </thead>
    <tbody id='orderlines' class='orderlines'>
      <%= f.fields_for :orderlines do |orderline| %>
        <%= render 'orderline_fields', :f => orderline %>
      <% end %>
    </tbody>
    </table>
      <%= link_to_add_association "<button type=\"button\" class=\"btn btn-secondary\">Add Line</button>".html_safe, f, :orderlines, data: {association_insertion_node:'.orderlines',association_insertion_method: :append} %>
      <%= f.submit :Submit, class: 'btn btn-primary' %>
  <% end %>
</div>