<% @freq = Array.new(@all_product.count + 1, 0) %>
<% @all_lines.each do |f| %>
     <% @freq[f.product_id] += f.quantity %>
<% end %>
<div class = "container">
    <h3 class="display-4"> Products Sold </h3>
    As of <%= Date.today.to_s %>
    <table class= "table">
        <thead>
            <tr>
                <th> Product </th>
                <th>  # Sold Today </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% @i = 0 %>
        <% @freq.each do |g| %>
            <% if g == 0 %>
                <% @i = @i.next %>
            <% else %>
                <tr>
                    <td> <%= @all_product[@i - 1].name %> </td>
                    <td> <%= @freq[@i] %> </td>
                    <td> <%= link_to 'View Product', product_path(@all_product[@i - 1]) %> </td>
                </tr>   
                <% @i = @i.next %>
            <% end %>
        <% end %>
        </tbody>
    </table>
    <br>
    <hr>
    <%= link_to "<button type=\"button\" class=\"btn btn-secondary\"> View All Products </button>".html_safe, products_path %>
</div>