<div class="container">
  <h3> Order # <%= @orders.id %> </h3>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Product ID</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
   <% @all_lines.each do |g| %>
      <% if @orders.id == g.order_id %>
        <tr>
        <td>Product: <%= g.product.name %></td>
        <td>Product ID: <%= g.product_id %></td>
        <td>Price: <%= g.product.price %></td>
        <td>Quantity: <%= g.quantity %></td>
        <% if g.product.discount != nil %>
          <td>Subtotal: <%= g.product.price * g.quantity * (1- g.product.discount) %></td>
          <td>Discount: <%= g.product.discount %></td>
        <% else %>
          <td>Subtotal: <%= g.product.price * g.quantity %></td>
          <td> NO DISCOUNT </td>
        <% end %>
        </tr>
    <% end %>
  <% end %>
</table>
<b>Total:</b> <%= "%.2f"%@i %>
<br>
<b>Cash Paid:</b> <%="%.2f"% @cash %>
</div>