<div class="container">
  <h3>Order Summary</h3>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
 <% @i = 0 %>
 <% @orders.each do |key,value| %>
    <tr>
        <td> <%= @items[@orders[key][:product].to_i - 1].name  %></td>
        <td> <%= @orders[key][:quantity]   %></td>
        <td> <%= @items[@orders[key][:product].to_i - 1].price * @orders[key][:quantity].to_i   %></td>
        <td>
        <% if @items[@orders[key][:product].to_i - 1].discount != nil %>
          Discount applied = <%= @items[@orders[key][:product].to_i - 1].discount %>: <%= @items[@orders[key][:product].to_i - 1].price * @orders[key][:quantity].to_i * (1-@items[@orders[key][:product].to_i - 1].discount )    %>
          <% @i = @i + @items[@orders[key][:product].to_i - 1].price * @orders[key][:quantity].to_i * (1-@items[@orders[key][:product].to_i - 1].discount ) %> 
        <% else %>
          <% @i = @i + @items[@orders[key][:product].to_i - 1].price * @orders[key][:quantity].to_i %> 
        <% end %>
        </td>
    </tr>
<% end %>
</table>
Total: <%= @i %>
<%= form_for :order, url: orders_path do |f| %>
    <%= f.text_field :cash %>
    <%= f.hidden_field :i, value:@i %>
    <%= f.hidden_field :hash_vals, value: @orders %>
    <%= f.submit %>
<% end %>