<div class="row">
	<div class="col-1"></div>
	<div class="col-4">
		<h3 class="display-4"> New Cashier </h3>
	</div>
</div>
<hr>
<br>
<%= form_for @cashier do |cashier| %>
<div class="row">
	<div class="col-4">
		<div class= row>
			<div class="col-3"></div>
			<div class="col-3">	<%= cashier.label :name %> </div>
			<div class="col-6"> <%= cashier.text_field :name %></div>
		</div>
		<br>
		<div class= row>
			<div class="col-3"></div>
			<div class="col-3">	<%= cashier.label :email %></div>
			<div class="col-6"> <%= cashier.text_field :email %></div>
		</div>
		<br>
		<div class= row>
			<div class="col-3"></div>
			<div class="col-3">	<%= cashier.label :password %></div>
			<div class="col-6"> <%= cashier.text_field :password %></div>
		</div>
		<br>
		<div class= row>
			<div class="col-3"></div>
			<div class="col-3">	<b> Note </b> </div>
			<div class="col-6"> Usernames are unique. <br> Default password is "default" </div>
		</div>
		<br>
		<div class= row>
			<div class="col-3"></div>
			<div class="col-3"><%= cashier.submit:Submit, class: 'btn btn-secondary' %></div>
			<div class="col-6"><%= link_to "<button type=\"button\" class=\"btn btn-secondary\">View All Cashiers</button>".html_safe,cashiers_path %></div>
		</div>
	</div>
	<div class="col-8">
	</div>
</div>
<% end %>
