<% if @cashiers == nil %>
		No Cashiers added. Add cashier:
<% else %>
		<div class="container">
		<h3 class="display-4"> All Cashiers</h3>
		<%= link_to "New Cashier", new_cashier_path %>
		<hr>
		<table class= "table table-hover">
			<thead>
			<tr>
				<th> Name </th>
				<th> Admin </th>
				<th> Status </th>
				<th> View link </th>
				<th> Edit link </th>
				<th> </th>
			</tr>
			</thead>
				<% @cashiers.each do |cashier|%>
					<tr>
						<td> <%= cashier.name %> </td>
						<td> <%= cashier.adder %> </td>
						<% if cashier.active == true %>
							<td> ACTIVE </td>
						<% else %>
							<td> INACTIVE </td>
						<% end %>
						<td> <%= link_to "View", cashier_path(cashier) %> </td>
						<td> <%= link_to "Edit", edit_cashier_path(cashier) %> </td>
						<td class="text-center"> 
							<% if cashier.active == true %>
								<%= link_to "<button type=\"button\" class=\"btn btn-secondary\">Deactivate?</button>".html_safe, deactivate_cashier_path(cashier), method: :put, data: { confirm: "Are you sure?" }%>
							<% else %>
								<%= link_to "<button type=\"button\" class=\"btn btn-secondary\">Activate?</button>".html_safe, activate_cashier_path(cashier), method: :put, data: { confirm: "Are you sure?" } %>
							<% end %>
						</td>
					</tr>
				<% end %>	
		</table>
<% end %>
</div>