<div class="container">
<br>
<h3 class='display-4'><%= @cashier.name %> </h3>
Cashier # <%= @cashier.id %>
<hr>
<b>Status</b> 
<% if @cashier.active = true %>
    ACTIVE
<% else %>
    INACTIVE
<% end %>
<br>

<br>
    <b>Email</b> <%= @cashier.email %>
<hr>
<%= link_to "<button type=\"button\" class=\"btn btn-secondary\"> Edit </button>".html_safe, edit_cashier_path(@cashier) %>
<%= link_to "<button type=\"button\" class=\"btn btn-secondary\">View All Cashiers</button>".html_safe, cashiers_path %>
</div>
</div>