<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %><div class="login_div text-center">
<div class="card">
	  <%= image_tag("login", class: "card-img-top", style: "height: 5%") %>
	  <div class="card-block">
	    <h3 class="card-title"> Login </h3>
	    <p class="card-text">  
	      <%= f.email_field :email, autofocus: true, placeholder:"email" %> 
	      <br>
	       <%= f.password_field :password, autocomplete: "off", placeholder:"password" %>
	    </p>
	  </div>
	  <div class="card-block">
	    <div class="actions">
    <%= f.submit "Log in" %>
  </div>
	    <br>
	    <hr>
	    <%= link_to 'Login with email', new_cashier_session_path %>
	    
	  </div>
	</div>
</div>
</div>
<% end %>
