.navbar-custom {
    color: #FFFFFF;
    background-color: #ffffff;
}
.sellpoint {
  font-family: Lombok;
}
.navbar .navbar-brand {
  padding-top: 6px;
}
.ui-input-text {
    border: none !important;
    border-color: transparent !important;
}
h1 {
  font-family: "Gotham Bold Regular", Gotham,"Bold Regular";
}
.login_div {
    position: absolute;

    width: 300px;
    height: 300px;
    /* Center form on page horizontally & vertically */
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -190px;
}
.homepage{
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -110px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.login_form {
    width: 300px;
    height: 300px;
    outline: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, .30);
    margin: 0;
    padding: 0;
}