<div class="container">
	<br>
	<h3 class="display-4"> All Products </h3>
	<%= link_to "New Product", new_product_path %>
	<hr>
	<% if @products.length == 0 %>
			No products added. Add product:
	<% else %>
			<table class="table table-hover">
				<thead>
					<tr>
						<th> Name </th>
						<th> Price </th>
						<th> Status </th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<% @products.each do |product| %>
					<tr>
						<td><%= product.name %></td>
						<td><%= "%.2f"%product.price %></td>
						<% if product.status == true %>
							<td> ACTIVE </td>
						<% else %>
							<td> INACTIVE </td>
						<% end %>
						<td> <%= link_to "View", product_path(product) %> </td>
						<td> <%= link_to "Edit", edit_product_path(product) %> </td>
						<td class="text-center"> 
								<% if product.status == true %>
									<%= link_to "<button type=\"button\" class=\"btn btn-secondary\">Deactivate?</button>".html_safe, deactivate_product_path(product), method: :put, data: { confirm: "Are you sure?" } %>
								<% else %>
									<%= link_to "<button type=\"button\" class=\"btn btn-secondary\">Activate?</button>".html_safe, activate_product_path(product), method: :put, data: { confirm: "Are you sure?" } %>
								<% end %>
						</td>
					</tr>
				<% end %>
			</table>
	<% end %>
</div>