<div class="row">
	<div class="col-1"></div>
	<div class="col-4">
		<h3 class="display-4"> New Product </h3>
	</div>
</div>
<hr>
<%= form_for :product, url: products_path do |product| %>
<div class="row">
	<div class="col-4">
		<div class= row>
			<div class="col-3"></div>
			<div class="col-3"><%= product.label :name %></div>
			<div class="col-6"><%= product.text_field :name %></div>
		</div>
		<br>
		<div class= row>
			<div class="col-3"></div>
			<div class="col-3"><%= product.label :price %></div>
			<div class="col-6"><%= product.text_field :price %></div>
		</div>
		<br>
		<div class= row>
			<div class="col-3"></div>
		<div class="col-3"><%= product.label :discount %></div>
		<div class="col-6"><%= product.text_field :discount %></div>
		</div>
		<br>
		<div class= row>
		<div class="col-3"></div>
		<div class="col-3"><%= product.label :description %></div>
		<div class="col-6"><%= product.text_area :description %></div>
		</div>
		<br>
		<div class= row>
		<div class="col-3"></div>
		<div class="col-3"><%= product.submit %></div>
		<div class="col-6"></div>
		</div>
	</div>
	<div class="col-8">
	</div>
</div>
<% end %>