<div class="container">
<br>
<h3 class='display-4'><%= @product.name %></h3>
<hr>
<b>Status</b> 
<% if @product.status = true %>
    ACTIVE
<% else %>
    INACTIVE
<% end %>
<br>
<% if @product.discount != nil %>
    <b>Discount</b> <%= @product.discount*100 %> %
<% end %>
<br>
    <b>Price</b> <%= "%.2f"%@product.price %>
<hr>
<b>Description</b>
<br>
<p>
    <%= @product.description %>
</p>
<hr>
<%= link_to "<button type=\"button\" class=\"btn btn-secondary\"> Edit </button>".html_safe, edit_product_path(@product) %>
<%= link_to "<button type=\"button\" class=\"btn btn-secondary\">View All Products</button>".html_safe, products_path %>
</div>
</div>